:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

html,body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--clr-bg);
  color: var(--clr-neon);
}

.neon-button,.result {
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 4px;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

input,button {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
}
input:focus {
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 1.5em 0 var(--clr-neon);
}
.result {
  width: 228px;
  padding: 0.25em 1em;
  margin: 0;
  font-size: 16px;
  margin-top: 2px;
  transition: 0.2s;
}
.result:hover{
  background-color: hsl(317 100% 54%);
  color: rgb(31, 31, 31);
}
.detail {
  position: absolute;
  display: flex;
  flex-direction: column;
}